.header {
    display: flex;
    justify-content: center;
    padding: 10px 0;

    background-color: #FFFFFF;
}

.header-titulo {
    color: #0c2146;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}

.logoImg {
    border-radius: 10px;
}