<div class="container col-6">
    <div class="home-box">
        <div class="home-text">
            <h1 class="home-title">Bienvenido a Shopéame</h1>
            <h3>¿Qué es Shopéame?</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem itaque aliquam amet, et assumenda at laborum perspiciatis tempora, iure iste vero veritatis repellat ducimus. Blanditiis fugit ab alias a iure.
            </p>
            <h3>¿Para qué puedo usar Shopéame?</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, ratione distinctio soluta corporis ad temporibus, assumenda dicta vitae vero omnis dolore nulla velit nam officia at voluptatibus dolorum dolor id?.
            </p>
            <h3>¿Quiénes hacemos en Shopéame?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, nostrum aliquid vel fugit perspiciatis ratione mollitia ab laboriosam obcaecati minima dolorem, natus, in non! Dicta nemo explicabo consectetur harum libero.
            </p>
            <h3>¿Es seguro usar Shopéame?</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi necessitatibus reprehenderit assumenda illum commodi laborum magni iste tempora illo. Ipsam, ullam quaerat laborum harum provident nihil temporibus sit architecto error.
            </p>
        </div>
    </div>
</div>
